In [46]:
import numpy as np
import pandas as pd

In [47]:
sheet_url = "https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0"
url_1 = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

df = pd.read_csv(url_1, index_col=0, parse_dates=["created_at"])
df["date"] = pd.to_datetime(df["created_at"]).dt.date
df["time"] = pd.to_datetime(df["created_at"]).dt.time

In [48]:
df = df.reset_index()

In [49]:
df["order_amount"].mean()

3145.128

The average order value(AOV) was calculated by taking the mean of the order_amount which is erroneous because each order has more than one item in it. Thereby while calculating the mean which is $ (total\_sum) / (total\_quantity) $, the result was unreasonably huge number.

## Calculating the mean value of the sneakers

**Mean** is the ideal metric for this scenario, but the procedure adopted to arrive at the mean was wrong.

In [52]:
df["price_per_unit"] = df["order_amount"]/df["total_items"]

In [53]:
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at,date,time,price_per_unit
0,1,53,746,224,2,cash,2017-03-13 12:36:56,2017-03-13,12:36:56,112.0
1,2,92,925,90,1,cash,2017-03-03 17:38:52,2017-03-03,17:38:52,90.0
2,3,44,861,144,1,cash,2017-03-14 04:23:56,2017-03-14,04:23:56,144.0
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37,2017-03-26,12:43:37,156.0
4,5,18,883,156,1,credit_card,2017-03-01 04:35:11,2017-03-01,04:35:11,156.0

In [60]:
df["price_per_unit"].mean()

387.7428

**Therefore the mean or the AOV of the sneakers is 387.742**