In [5]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import psycopg2
# import altair as alt
# from altair_data_server import data_server

# alt.data_transformers.enable('data_server')
# alt.renderers.enable('mimetype')

# %matplotlib inline
# %load_ext sql
# %config SqlMagic.displaylimit = 20
# %config SqlMagic.autolimit = 30
# from sqlalchemy import create_engine
# import io

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
# import json
# import urllib.parse

# with open('data/credentials.json') as f:
#     login = json.load(f)
    
# username = login['user']
# password = urllib.parse.quote(login['password'])
# host = login['host']
# port = login['port']

FileNotFoundError: [Errno 2] No such file or directory: 'data/credentials.json'

In [31]:
# conn = psycopg2.connect(database='postgres', **login)

# autocommit = psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT
# conn.set_isolation_level(autocommit)
# conn.cursor().execute("DROP DATABASE IF EXISTS shopify WITH (FORCE);")
# conn.cursor().execute("CREATE DATABASE shopify;")
# conn.cursor().close()

In [32]:
# conn = psycopg2.connect(database='postgres', **login)

# with conn, conn.cursor() as cur:
#     cur.execute("SELECT datname FROM pg_database;")
#     print([i[0] for i in cur.fetchall()])

['postgres', 'template1', 'template0', 'w', 'imdb_dsci513', 'unter', 'shopify']

In [7]:
sheet_url = "https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0"
url_1 = sheet_url.replace("/edit#gid=", "/export?format=csv&gid=")

df = pd.read_csv(url_1, index_col=0, parse_dates=["created_at"])
df["date"] = pd.to_datetime(df["created_at"]).dt.date
df["time"] = pd.to_datetime(df["created_at"]).dt.time

In [8]:
# conn = psycopg2.connect(database='shopify', **login)
# conn.autocommit = True

# with conn, conn.cursor() as cur:
#     cur.execute("""
#     CREATE TABLE shopify_data(
#         order_id SERIAL,
#         shop_id  INTEGER NOT NULL,
#         user_id  INTEGER NOT NULL,
#         order_amount INTEGER NOT NULL,
#         total_items INTEGER NOT NULL,
#         payment_method VARCAHAR(16),
#         date DATE,
#         time TIME
#     );""")

In [9]:
df.reset_index().head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at,date,time
0,1,53,746,224,2,cash,2017-03-13 12:36:56,2017-03-13,12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52,2017-03-03,17:38:52
2,3,44,861,144,1,cash,2017-03-14 04:23:56,2017-03-14,04:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37,2017-03-26,12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 04:35:11,2017-03-01,04:35:11

In [10]:
df.groupby("shop_id")["order_amount"].sum()

shop_id
1      13588
2       9588
3      14652
4      13184
5      13064
       ...
96     16830
97     15552
98     14231
99     18330
100     8547
Name: order_amount, Length: 100, dtype: int64

In [45]:
df["date"].min()

datetime.date(2017, 3, 1)

In [46]:
df["date"].max()

datetime.date(2017, 3, 30)

In [11]:
df["price_per_unit"] = df["order_amount"]/df["total_items"]

In [13]:
df["price_per_unit"].mean()

387.7428

In [14]:
df.head()

,shop_id,user_id,order_amount,total_items,payment_method,created_at,date,time,price_per_unit
order_id,,,,,,,,,
1,53,746,224,2,cash,2017-03-13 12:36:56,2017-03-13,12:36:56,112.0
2,92,925,90,1,cash,2017-03-03 17:38:52,2017-03-03,17:38:52,90.0
3,44,861,144,1,cash,2017-03-14 04:23:56,2017-03-14,04:23:56,144.0
4,18,935,156,1,credit_card,2017-03-26 12:43:37,2017-03-26,12:43:37,156.0
5,18,883,156,1,credit_card,2017-03-01 04:35:11,2017-03-01,04:35:11,156.0

In [15]:
df["order_amount"].sum()/df["total_items"].sum()

357.92152221412965